@font-face {
 font-family: "Bebas";
 src: url("/fonts/bebas_neue/BebasNeue-Regular.otf") format("otf"),
        url("//fonts/bebas_neue/BebasNeue-Regular.ttf") format("ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b1b;
}

div{
  margin: 0;
}


p{
  margin: 0;
}



.Content{
  background-color: #1b1b1b;
}

ul{
  margin: 0;
}

.Header > p{
  color: white;
  border-bottom: 1px #404040 solid;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    height: 30px;
}


.Header input{
  font-size: 30px;
  color: white;
  background-color: #2b2b2b;
  border-top: none;
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  padding-left: 8px;
}

.Imprimantes{
  width: 73%;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #1a1a1a;

}

.Imprimantes p{
  margin-top: 48px;
}

h2{
  color: white;
  background-color: black;
  width: 100%;
}

.Market{
  width: 100%;
  background-color: #1a1a1a;
}

.Produit{
  background-color: #2b2b2b;
  width: 30%;
  margin: 70px;
}

.Produit img{
  width: 30%;
  margin: 0 10%;
}

.Gallerie{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#HeaderList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 69%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#HeaderList > img{
 border-right: 1px #404040 solid;
 
}

form{
display: flex;
align-items: center;
}

form img{
  margin-right: 20px;
}

.Vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
    height: 132px;
  }


.DemandeDevis{
  white-space: 5px;
  font-size: 19px;
  padding: 0px;
  color: white;
}

/*#Mail{
  width: 44px;
}*/

.Menu ul{
display: flex;
width: 100%;
flex-direction: row;
justify-content: space-around;
list-style: none;
padding: 0;
}

.Navig{
  width: 100%;
  height: 55px;  
}

.Navig li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.Navig li > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  border-right: 3px white solid;
}

.Navig li > a:hover{
  background-color: #0f7b7d;
}
.BorderRight{
  
}

.Menu{
display: flex;
width: 100%;
background-color: #0f8486;
color: white;
flex-direction: column;
}

.Conception h1 {
  background-color: #1b1b1b;
  color: #0f8486;
  height: 190px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: "Bebas";
  margin: 0;
}

.Conception h2 {
  background-color: #2d2d2d;
  color: #0f8486;
  height: 135px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  font-family: "Bebas";
  margin: 0;
}

.modelisation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  background-color: #1b1b1b;
}

.print{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  background-color: #1b1b1b;
}

.formation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  background-color: #1b1b1b;
}

#Tel{
  width: 44px;
}

.Header{
  background-color: #2b2b2b;
  width: 100%;
  height: 213px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Demo{
  display: flex;
  justify-content: flex-start;
}

.Demo ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.Details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gray{
  background-color: #575757;
}

.blue{
  background-color: #0f8486;
}

.blue:hover{
  background-color: #0f7b7d;
}

.Action li{
  width: 50%;
  padding: 15px;
  margin: 0;
}

@media screen and (max-width: 750px) {
  body{
    background-color: red;
  }
}
